*{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 19px;
  margin:0;
  padding: 0;
  font-weight: 1000!important;
}

body {
  background-image: url('../assets/med2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

#rowtextcenter {
  width: 100%;
  height: 100%;
}

h3 {
  color: rgb(0, 174, 255)!important;
  font-family: 'Fredericka the Great', cursive;
  font-size: 20px;
}


.card-header {  
  font-family: 'Fredericka the Great', cursive;
  color: rgb(167, 227, 255)!important;
}

#patient-name {  
  font-family: 'Fredericka the Great', cursive;
  color: rgb(167, 227, 255)!important;
}

#nav-title {
  margin-right: 20px;
}

.navbar, .navbar-text, .nav-link {
  background-color: #F5F7FF!important;
  color: gray!important;

}

.list-group-item {
  line-height: 2.5;
}

#nav-title {
  color: white;
}

.patientCard {
  opacity: 0.95!important;
  /* background-color: rgba(0, 0, 0, .9)!important; */
  background-color: #F5F7FF !important;
  
  color: white;
  margin-top: 35px!important;
  margin-left: 35px;
}

.patientCard .card-link {
  font-weight: 700;
  /* color: rgb(46, 126, 231); */
  color: grey!important;
}

.recordCard {
  opacity: 0.95!important;
  /* background-color: rgba(0, 0, 0, 0.9)!important; */
  background-color: #F5F7FF !important;
  /* color: white; */
  color: grey!important;
  margin-top: 35px!important;
  margin-left: 20px;
  width: 100%!important;
}

.refill-btn {
  margin-top: 10px;
  /* color: white; */
  color: grey!important;
  border-color: white;
}
.refill-btn:hover {
  margin-top: 10px;
  /* color: black; */
  color: grey!important;
  background-color: white;
  border-color: white;
}

.primary-care-dr {
  background-color: rgba(0, 0, 0, .1)!important;
  /* color: white; */
  color: grey!important;
}

.diag-item {
  cursor:pointer;
  text-decoration: underline;
}