* {
    font-family: 'Mate SC', serif;
  }
  .splashHeading {
    font-family: 'Fredericka the Great', cursive;
    font-size: 48px;
  }
  .wrapper {
    margin-top: 5%;
  }

/*   
  .loginCard, .signupCard {
    opacity: 0.95!important;
    margin-top: 100px!important;
  } */

/*   .signupCard {
    background-color: rgb(8, 83, 117)!important;
    color: rgb(132, 216, 255)!important;

  } */

/*   .btn-default {
    background-color: rgb(132, 216, 255)!important;
  } */

/*   #loginb {
    color: rgb(132, 216, 255)!important;
    background-color: rgb(8, 83, 117)!important;
  } */

/*   #logincard {
    background-color: rgb(132, 216, 255)!important;
    color: rgb(8, 83, 117)!important;
  } */


 
  /* ------------------------------- */
  /* Splash Screen Background Slides */
  /* ------------------------------- */

  
  .loginCard {
    opacity: 0.98!important;
    /* background-color: rgb(132, 216, 255)!important; */
    margin-top: 100px!important;
    background-color: #F5F7FF;
  }

  .signupCard {
    margin-top: 100px!important;
    background-color: #F5F7FF;
    opacity: 0.98!important;
    padding: 0px!important;
  }

  .signupRow {
    margin-top: -100px!important;
  }

  *{
    font-family: 'Mate SC', serif!important;
    margin:0;
    padding: 0;
    font-weight: 1000!important;
  }
  .load{
    animation: slide 0.5s;
  }
  .slider{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: slide 20s infinite;
    margin-top: 0px;
  }
  
  .principal h1{
    font-size: 70px;
    margin-bottom: 20px; 
  }

  .avatar img {
    margin-bottom: 20px;
    padding: 5px!important;
    background: #fff!important;
    border-radius: 50%!important;
    -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1)!important;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1)!important;
  }

  .input, a {
    font-size: 20px!important;
    font-weight: 800!important;
  }
  
  /* .content{
    color: #fff;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  } */
  /* .principal{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    letter-spacing: 5px;
    text-align: center;
  } */
  
  @keyframes slide{
    0%{
        background-image: url('../assets/med1.png');
    }
    20%{
        background-image: url('../assets/med1.png');
    }
    20.01%{
        background-image: url('../assets/med2.png');
    }
    40%{
        background-image: url('../assets/med2.png');
    }
    40.01%{
        background-image: url('../assets/med3.jpg');
    }
    60%{
        background-image: url('../assets/med3.jpg');
    }
    60.01%{
        background-image: url('../assets/med1.png');
    }
    80%{
        background-image: url('../assets/med1.png');
    }
    80.01%{
        background-image: url('../assets/med3.jpg');
    }
    100%{
        background-image: url('../assets/med3.jpg');
    }
  }
  /* ----------------------------------- */
  /* End Splash Screen Background Slides */
  /* ----------------------------------- */
  
  /* ----------------------------------- */
  /* WWWMB Styles                        */
  /* ----------------------------------- */