body {
    background-image: url('../assets/health3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }
  
  #nav-title {
    margin-right: 20px;
  }
  
  .list-group-item {
    line-height: 2.5;
  }
  
  #nav-title {
    color: white;
  }

.wwwmb-wrapper {
    margin: 0 auto;
    margin-top: 35px!important;
  } 

  .wwwmb-form {
    background-color: rgba(0, 0, 0, 0.9)!important;
    color: white;
    padding: 15px;
    opacity: 0.95!important;
  }
  
  #diag-res-header-div{
    width: 100%;
  }